@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Sunflower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway&family=Sunflower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.Cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: lavender;

}

.Logo1 {
    padding-top: 8px;

}

.Logo1:hover {
    height: 102px;
    width: 102px;
}

.Menu {
    display: flex;
    gap: 180px;

}

.Item-Menu {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    color: black;

}

.Item-Menu:hover {
    color: #e1bb10;
}

.Conteúdo {

    margin-bottom: 20px;
}

.Conteúdo-principal {
    background-image: url(../Html/Img/1Fundo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;

}

.Frase {
    font-family: 'Rajdhani', sans-serif;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
}

.Em-alta {
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ece7d5;
    height: 100vh;

}

section.Conteúdo2 div.Em-alta p {
    font-family: 'Raleway', sans-serif;
    display: flex;
    font-size: xx-large;
    justify-content: center;


}

.slide-container {
    max-width: 1120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.Teste {
    display: flex;
    justify-content: center;
}

.card-image {
    position: relative;
    height: 360px;
    width: 360px;
    border-radius: 50%;
    background: #ece7d5;
    padding: 3px;

}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #d0ff009c;
}

.Corpo {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background: #ece7d5;
    border-radius: 25px;


}

.slide-content {
    margin: 0 40px;


}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-content {
    position: relative;
    row-gap: 5px;

}

.overlay {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -20px;

    height: 40px;
    width: 40px;
    background-color: #ece7d5;

}

.overlay::after {
    border-radius: 0 25px 0 0;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);

}

.button {
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    background-color: #ffd7259d;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;


}

.button:hover {
    background: #ffd000;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 65px;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: right;
    align-items: baseline;
    opacity: 0;
    pointer-events: none;
}

.modal {
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;

}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.Rodapé {
    margin-top: -20px;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    background-color: rgb(183, 183, 193);
    font-family: 'Poppins', sans-serif;

}

.container-footer {
    background-color: rgb(183, 183, 193);
    font-family: 'Poppins', sans-serif;
    max-width: 1400px;
    padding: 0 30px;
}

.footer-col {
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}

.row-footer {
    padding-right: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.form-sub {
    font-family: 'Poppins', sans-serif;
    display: flex;

}

.footer-col li {
    display: flex;
    justify-content: center;
}

.footer-col a {
    color: black;

}

.x {
    display: flex;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: none;
    border: none;
}

.inscrever {
    font-family: 'Poppins', sans-serif;
}

.footer-col li a:hover {
    font-weight: bold;
    color: #e1bb10;
}


.Qisso {
    display: flex;
    flex-direction: column;
}